.column{
	background-color: #14C4ED;
	color: black;
	text-align: center;
}

.inbox{
	background-color: blue
}

.inprogress{
	background-color: yellow
}
.terminate{
	background-color: green
}
.history{
	background-color: purple
}