.columnHeader{
	background-color: #64B5F6;
	font-size: 2.5vh;
	text-transform: capitalize;
}

.inbox{
	background-color: blue;
}

.inprogress{
	background-color: yellow;
}
.terminate{
	background-color: green;
}
.history{
	background-color: purple;
}
